@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: poppins, sans-serif;
}

.principal--image{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/Pollos\ Crock-03.png);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal--image img{
    width:70vw;
    margin-top: 40px;

}

.introduction--part{
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.introduction--part img{
    animation: slideIn .6s linear;
}

.introduction--text{
    color: #FFFFFF;
    font-size: 1.1rem;

}

.pedido--container{
    margin-top: 40px;
}

.pedido--button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #f99e27;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.pedido--title{
    color: #FFFFFF;
    margin-top: 10px;
}

.volver--button{
    background-color: #000000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 60px;
}

.volver--button svg{
    width: 23px;
    fill: #FFFFFF;
    
}

/*------------------------------- HEADER SECTION -------------------------------*/

.header{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
}

.header--navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 0%;
    position: fixed;
    background-color: #000000;
    transition: .3s;

}

.header--navbar ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-top: 5rem;
    width: 0%;
}

.links a{
    text-decoration: none;
    color: #FFFFFF;
    margin:0 0 0 20px;
    padding-bottom: 10px;
    width: 100%;

}

.links {
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
}

.navbar--button{
    width: 3rem;
    position: absolute;
    top: 5px;
    right: 10px;
}

.navbar--button{
    fill: #FFFFFF;
}

.close--button{
    display: none;
}

/*------------------------------- MAIN SECTION -------------------------------*/
.food--card-container{
    width: 100%;
    background-image: url(../assets/images/Pollos\ Crock-04.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.menu--title-container, .finalizar--pedido-button-container{
    display: flex;
    justify-content: center;
}

.menu--title-container h1{
    margin: 50px 0 50px;
    font-size: 2.9rem;
    color: #FFFFFF;
    font-weight: 900;
}

.finalizar--pedido-button{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2rem;
    background-color: #000000;
    padding: 5px 50px;
    font-weight: 600;
    margin-top: 50px;
}

.card a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
    padding: 5px 10px ;
    font-weight: 600;
    margin: 30px 0;
}

.card{
    background-color: #FFFFFF;
    max-width: 350px;
    margin: auto;
    border-radius: 40px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    box-shadow: 0 0 10px #000000;
}

.img--food-container{
    margin-top: 30px;
}

.card--food-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.card--food-name{
    color: #FF0000;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
}

.card--food-price{
    color: #FF0000;
    font-weight: bold;
    font-size: 2.5rem;
}

.card--food-description{
    font-weight: 200;
}

.grid--cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.img--food-container img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    box-shadow: -10px 0 0 #FF0000;
}

.take--away-section{
    background-color: #cd001a;
    
}

.take--away-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.take--away-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 20px;
    margin-bottom: 40px;
}

.take--away-map h3{
    color: #FFFFFF;
    font-size: 2rem;
}

.take--away-map iframe{
    width:360px;
    height: 40vh;
    border-radius: 40px;
}

.take--away-image img{
    width: 90vw;
}

.nosotros--section{
    background-color: #f99e27;
    height: 110vh;
}

.nosotros--container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
    margin: auto;

}

.nosotros--image-container img{
    height: 60vh;
    width: 370px;

}

.nosotros--info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.nosotros--title{
    color: #3d3b4a;
    font-size: 3rem;
    font-weight: 900;
}

footer{
    background-color: #3d3b4a;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    min-height: 40vh;
}

.footer--contacts-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.contacts--container{
    color: #FFFFFF;
    display: flex;
    gap: 5px;
    align-items: center;

}

.contacts--container svg{
    width: 39px;
    fill: #FFFFFF;
}

.footer--img-container img{
    width: 150px;
}

.principal--part-menu{
    background-color:#cd001a;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.principal--image-menu-container img{
    width: 90vw;
    animation: slideUp .6s linear;
}

.principal--title-menu-container h1{
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center;
}

.cards--menu-section{
    background-color: #f99e27;
    padding-bottom: 50px;
}

.link4 a{
    display: flex;
    gap: 5px;
}

.link4 svg{
    width: 25px;
    fill: #FFFFFF;

}

/*------------------------------- MEDIA QUERIES SECTION -------------------------------*/

@media screen and (min-width:900px) {
    .principal--image{
        background-image: url(../assets/images/Pollos\ Crock-02.png);
    }
    
    .header{
        position: sticky;
        top: 0;
    }

    .navbar--button{
        display: none;
    }

    .header--navbar{
        width: 100%;
        background-color: transparent;
        height: 10vh;
        align-items: end;
        justify-content: center;
    }

    .header--navbar ul{
        flex-direction: row;
        width: 40%;
        margin:0 30px 0 0;
        
    }
    
    .links{
        border: none;
    }

    .links a{
        background-color: #000000;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 5px;

    }

    .introduction--part{
        align-items: start;
    }

    .introduction--part img{
        width: 40vw;
    }

    .introduction--text{
        width: 40%;
        font-size: 1.5rem;
    }

    .pedido--button{
        font-size: 1.4rem;
        height: 7vh;
        width: 15vw;
    }

    .pedido--container{
        margin-top: 50px;
    }

    .take--away-image img{
        width: 600px;
    
    }

    .take--away-map iframe{
        width: 600px;
    }

    .take--away-map h3{
        font-size: 2.5rem;
    }

    .nosotros--section{
        height: 60vh;
    }

    .nosotros--container{
        flex-direction: row;
        padding: 40px 20px 0;
        gap: 30px;
        width: 100%;
        justify-content: space-around;
    }

    .nosotros--info-container{
        align-items: start;
    }

    .nosotros--image-container img{
        width: 450px;
        height: 50vh;

    }

    footer{
        flex-direction: row;
        min-height: 10vh;
    }

    .footer--contacts-container{
        flex-direction: row;
    }

    .principal--image-menu-container img{
        width: 600px;
    }
    
}

@media screen and (min-width:1200px){
    .header--navbar ul{
        width: 50%;
    }

    .take--away-map iframe{
        width: 550px;
        height: 350px;
    }

    .take--away-container{
        flex-direction: row;
        justify-content: space-around;

    }

    .nosotros--container{
        max-width: 1290px;
    }

    .nosotros--info-container{
        max-width: 600px;
    }

    .principal--image-menu-container img{
        width: 30vw;
    }
}

/*------------------------------- MEDIA QUERIES SECTION -------------------------------*/

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(-150%);
    }
    to {
        transform: translateY(0);
    }
}



